@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}

@if (Model.PaginaInicial) { 
    @Html.Partial("Cabeçalho")
}

<div class="container">
    <div class="row">       
        <ul class="gigs">
            @foreach (var gig in Model.UpcomingGigs)
            {
             <div class="col-md-4 gigs">                   
                  <li>
                        @*Exibe Calendario*@
                        <div class="date">
                            <div class="month">
                                @gig.DateTime.ToString("MMM")
                            </div>
                            <div class="day">
                                @gig.DateTime.ToString("d ")
                            </div>
                        </div>
                        @*Detalhe do Evento e Artista*@
                        <div class="details">
                            <span class="artist">
                                @gig.Artist.Name
                                @if (Model.ShowActions)
                                {
                                    <button data-user-id="@gig.ArtistId" class="btn btn-link btn-sm js-toggle-follow" data-user-id="@gig.ArtistId">Follow</button>
                                }
                            </span>
                            <span class="genre">
                                @gig.Genre.Name
                                @if (Model.ShowActions)
                                {
                                    <button data-gig-id="@gig.Id" class="btn btn-default btn-sm js-toggle-attendance pull-right">Going?</button>
                                }
                            </span>
                        </div>
                  </li>
             </div>
            }
        </ul>
     </div>
</div>

@section scripts
{
    <script>
        @*Acao/Botao Going *@
        $(document).ready(function() {
            $(".js-toggle-attendance").click(function(e) {
                var button = $(e.target);
                $.post("/api/attendances", { gigId: button.attr("data-gig-id") })
                    .done(function() {
                        button.removeClass("btn-default").addClass("btn-info").text("Going");
                    })
                    .fail(function() {
                        alert("Something failed!");
                    });
            });
        });

        @*Acao/Botao Follow *@
        $(document).ready(function () {
            $(".js-toggle-follow").click(function(e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function() {
                        button.text("Following");
                    })
                    .fail(function() {
                        alert("Something failed!");
                    });
            });
        });
    </script>
}