@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Gighub website</h1>
    <p class="alert alert-success">Acompanhe os eventos da sua cidade</p>
</div>

<div class="container">
    <div class="row">       
         <ul class="gigs">
             @foreach (var gig in Model)
             {
               <div class="col-md-4 gigs">
                        @*<li>@gig.DateTime - @gig.Artist.Name - @gig.Venue</li>*@
                    <li>
                    @*Calendario*@
                    <div class="date">
                         <div class="month">
                              @gig.DateTime.ToString("MMM")
                         </div>
                         <div class="day">
                              @gig.DateTime.ToString("d ")
                         </div>
                    </div>
                    @*Detalhe do Evento e Artista*@
                    <div class="details">
                         <span class="artist">
                               @gig.Artist.Name <button class="btn btn-link btn-sm js-toggle-follow" data-user-id="@gig.ArtistId">Follow</button>
                         </span>
                        <span class="genre">
                            @gig.Genre.Name <button data-gig-id="@gig.Id" class="btn btn-default btn-sm js-toggle-attendance pull-right">Going?</button>
                        </span>

                    </div>
                    @*Botões de Ação*@
                    @*<div class="gf">
                         
                         
                    </div>*@
                    </li>
              </div>
             }
          </ul>
     </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-toggle-attendance").click(function(e) {
                    var button = $(e.target);
                    $.post("/api/attendances", {gigId: button.attr("data-gig-id")})
                .done(function() {
                    button.removeClass("btn-default").addClass("btn-info").text("Going");
                })
                .fail(function() {
                    alert("Something failed!");
                })
        });
        });
    </script>
}